@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body {
    margin: 0 auto;
    width: 100%;
}
header {
    width: 1512px;
    margin: 0 auto;
    overflow: hidden;
}
.menu {
    float:right;
    margin: 25.5px auto 0;
}
.logo {
    float: left;
    width: 183px;
    height: 64px;
    margin: 16px auto auto 12px;
}
.logo a {
    display: block;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    color: #000000;
}
.menu ul {
    list-style: none;
    overflow: hidden;
    float: left;
}
.menu ul li{
    float: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
}
.menu ul li a{
    color: #000000;
    text-decoration: none;
    padding: 23px 12px;
    display: block;
}
.menu ul li a.button{
    display: block;
    border: solid #2203E4 !important;
    color: #2203E4;
}
.content{
    width: 1100px;
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
}
.content article{
    overflow: hidden;
}
.content article h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    color: #000000;
    margin: 22px auto;
}
.content .side-bar p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    margin: 22px auto 44px;
}
.button1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    width: 94px;
    height: 39px;
    background: #0062FF;
    border-style: none;
    float: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;


}
.button2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 16px;
    gap: 10px;
    width: 135px;
    height: 39px;
    border: 1px solid #575757;
    float: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #575757;
    margin-left: 24px;
}
.content article {
	float: left;
}
.side-bar {
    width: 630px;
    margin-top: 154px;
}
.slide-content {
    width: 415px;
    margin: 70px 0 0 55px;
}
.slide-content p img {
    border: none;
    max-width: 100%;
}
.post-content {
    width: 1190px;
    margin: 0 auto 144.56px;
    overflow: hidden;
}
.authors {
    margin: 150px auto 41px;
    width: 611px;
}
.authors h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
    text-align: center;
}
.authors p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #575757;
    text-align: center;
}
.box-author {
    float: left;
    overflow: hidden;
    width: 841px;
}
.figure {
    float: left;
    margin: 27px 50px 0 0;
}
.box-info {
    margin: 10px 10px 10px 50px;
}
.box-info h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    color: #000000;
    margin: 0;
}
.box-info h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    color: #575757;
    margin: 0;
}
.box-info p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #575757;
    margin: 12px 0 24px 0;
}
.footer-autor a {
    margin-right: 14.73px;
}
.author-name {
    float: right;
    width: 237px;
}
.author-name h3,p {
    margin: 0;
    font-family: 'Poppins';
    font-style: normal;
}
.author-name h3 {
    font-weight: 500;
    font-size: 21px;
    color: #DEA405;
}
.author-name p {
    font-weight: 400;
    font-size: 16px;
    color: #FFBE0B;
}
.author-name .author-name-activ h3 {
    font-weight: 600;
    font-size: 27px;
    color: #000000;
}
.author-name .author-name-activ p {
    font-weight: 500;
    font-size: 21px;
    color: #575757;
}
.author-name-activ {
    position: relative;
}
.author-name-activ img {
    position: absolute;
    left: -18px;
    bottom: 30px;
}
.for-content {
    width: 1509px;
    margin: 0 auto;
    background: #0062FF;
    padding: 71px 0;
}
.for-who {
    width: 611px;
    margin: 0 auto 64px;
    text-align: center;
}
.for-who h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    color: #FFFFFF;
    margin: 0 auto 16px;
}
.for-who p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}
.for-who-info {
    width: 1262px;
    margin: 0 auto;
    overflow:hidden;
}
.for-who-info-blok2, .for-who-info-blok1{
    float: left;
    width: 607px;
    overflow: hidden;
    margin: 0 24px 0 0;
}
.figure-info1, .figure-info2, .figure-info3, .figure-info4{
    float: left;
    margin: 0 33px 46px 0;
}
.figure-box {
    float: left;
    overflow: hidden;
}
.figure-box1 {
    float: left;
    width: 451px;
}
.for-who-info h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120%;
    color: #FFFFFF;
    margin: 0;
}
.for-who-info p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
}
.for-button {
    margin: 0 auto;
    width: 99px;
    height: 36px;
}
.section-button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    /* or 19px */

    /* Blue/Dark */
    color: #2203E4;
    width: 99px;
    height: 36px;
    background: #FFFFFF;

    /* Blue/Dark */
    border: 1px solid #2203E4;
}
.demo {
    width: 1103px;
    margin: 63px auto 130px;
}
.demo p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #575757;
    text-align: center;
}
.demo-header {
    width: 611px;
    margin: 0 auto 20px;
    text-align: center;
}
.demo-header h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
    margin: 0 auto 12px;
}
.demo-content {
    width: 611px;
    display: inline-block;
}
.demo-content h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 120%;
    color: #000;
    text-align: center;
}
.demo-media {
    width: 444px;
    display: inline-block;
    margin: 24px 0 0 44px;
}
.opinions {
    width: 1509px;
    background: #FFBE0B;
    margin: 0 auto;
    padding: 67px 0;
}
.opinions-header {
    width: 611px;
    margin: 0 auto;
    text-align: center;
}
.opinions-header h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #000;
    margin: 0 0 12px;
}
.opinions-header p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #575757;
}
.opinions-coment {
    padding: 59.5px 16px;
    width: 702px;
    background: #F3F3F3;
    box-shadow: 4px 4px 22px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin: 42px auto 0;
}
.opinions-info {
    width: 611px;
    margin: 0 auto;
    position: relative;
}
.opinions-info h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120%;
    color: #000;
    display: inline-block;
    margin: 0 auto;
}
.opinions-info h4 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 120%;
    color: #000;
    margin: 0 auto 16px;
}
.opinions-info p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    /* or 19px */

    /* Ink/Light */
    color: #575757;
}
.opinios-rating {
    display: inline-block;
}
.opinios-ico {
    position: absolute;
    left: -55px;
    top: 40px;
}
footer {
    width: 951.05px;
    margin: 89px auto 103.53px;
}
.footer-top-conteiner {
    width: 611px;
    margin: 0 auto 74px;
    text-align: center;
}
.footer-top-conteiner h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #000000;
    margin: 0 auto 12px;
}
.footer-ico {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #000;
}
.footer-top-conteiner p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #575757;
}
.footer-content {
    width: 951.05px;
    margin: 0 auto;
    overflow: hidden;
}
.footer-media {
    width: 327.05px;
    float: left;
}
.footer-uzers-info {
    width: 611px;
    float: left;
    margin:  120px auto 26px;
}
.footer-ico img, .footer-ico p {
    display: inline;
}
.footer-uzers-info h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 120%;
    color: #2203E4;
    margin:16px auto;
}
.footer-uzers-info p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #575757;
}
.footer-button {
    align-items: center;
    padding: 10px 16px;
    background: #0062FF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    border: none;
}
.footer-form {
    width: 508px;
    margin: 74px auto;
}
.message {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 120%;
    color: #000;
    text-align: center;
    margin: 0 auto 28px;
}
.footer-form input {
    background: rgba(58, 134, 255, 0.2);
    border-radius: 12px;
    width: 460px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    padding: 25px 24px 26px;
    border: none;

/* or 19px */

/* Blue/Dark */
color: #2203E4;
margin-bottom: 14px;
}
.footer-form button {
    width: 508px;
    background: #0062FF;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    border: none;
    margin: 0 auto 14px;
}